:root {
    --brand-green: rgb(29, 52, 19);
    --bg-color: rgb(250, 247, 243);
}

body {
    min-height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--brand-green);
    font-family: 'STIX Two Text', serif;
    overflow: hidden;
}

/* Scrollbar styles */
html,
body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: var(--brand-green);
    color: #ffffff;
}

main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.light-leak {
    position: absolute;
    width: 549px;
    height: 590px;
    background-image: url('https://framerusercontent.com/images/ZDlZOMVyWI5PVxF0Wfa9wUxJqw.png?width=549&height=590');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 1;
    opacity: 0.8;
}

.hero-title {
    font-family: "Dongle", "Dongle Placeholder", sans-serif;
    font-size: 125px;
    font-weight: 300;
    line-height: 0.6em;
    color: var(--brand-green);
    text-transform: uppercase;
    margin: 0;
}

.font-dongle {
    font-family: 'Dongle', sans-serif;
}

.font-stix {
    font-family: 'STIX Two Text', serif;
}

/* App Container */
.app-container {
    background-color: var(--bg-color);
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.bottom-text {
    font-family: "STIX Two Text", "STIX Two Text Placeholder", serif;
    font-size: 17px;
    font-style: italic;
    line-height: 20px;
    color: var(--brand-green);
}

@media (min-width: 768px) {
    .md\:absolute {
        position: fixed !important;
    }
}

@media (max-width: 809.98px) {
    .app-container {
        width: 375px;
        height: 593px;
    }
}

.navbar-title {
    font-family: "STIX Two Text", "STIX Two Text Placeholder", serif;
    font-size: 16px;
    font-style: italic;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--brand-green);
}